@import url('https://fonts.googleapis.com/css?family=Montserrat|Sacramento');

/* Navigation */

.nav {
    height: 700px;
    background-color: #ebdddf;
    border-radius: 8px 0px 0px 8px;
}

.navbar {
    margin-top: 150px;
}

.li {
    margin-left: 40%;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.content {
    height: 700px;
    background-color: #ffd1d4;
    border-radius: 0px 8px 8px 0px;
}

/* Social Media */



/* Home Page */

.hello {
    text-align: center;
    margin-top: 15%;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
}

.welcome {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* About Me */

.selfie {
    height: 322px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 25%;
}

.aboutme-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 16px;
}

/* My Work */

.description-text-b {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.description-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.project {
    padding-top: 20px;
}

/* Resume */

.name {
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}