@import url('https://fonts.googleapis.com/css?family=Montserrat|Sacramento');

/* Navigation */

.nav {
    height: 700px;
    background-color: #ebdddf;
    border-radius: 8px 0px 0px 8px;
}

.navbar {
    margin-top: 150px;
}

.li {
    margin-left: 40%;
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
}

.content {
    height: 700px;
    background-color: #f3efea;
    border-radius: 0px 8px 8px 0px;
}

/* Social Media */



/* Home Page */

.dots {
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
} 

.hello {
    text-align: center;
    margin-top: 15%;
    font-family: 'Sacramento', cursive;
    font-size: 70px; 
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        padding-top: 0px;
    }

    50% {
        padding-top: 20px;
    }

    100% {
        padding-top: 0px;
    }
}

.welcome {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

/* About Me */

.selfie {
    height: 322px;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 25%;
}

.aboutme-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 16px;
}

/* My Work */

.description-text-b {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.description-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.project {
    padding-top: 20px;
}

/* Resume */

.resume {
    text-align: center;
}

.name {
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

/* Footer */

.social {
    height: 220px;
    width: 100%;
    margin-top: 25%;
    margin-left: 25%;
}

.fab {
    margin-left: 10px;
}